<ul>
    <li class="spellStatsLi"><span class="stat">Level: </span>{{this.level}}</li>
    <li class="spellStatsLi"><span class="stat">Range: </span>{{this.range}}</li>
    <li class="spellStatsLi"><span class="stat">Components: </span>{{this.components}}</li>
    <li class="spellStatsLi"><span class="stat">Material: </span>{{this.material}}</li>
    <li class="spellStatsLi"><span class="stat">Ritual: </span>{{this.ritual}}</li>
    <li class="spellStatsLi"><span class="stat">Duration: </span>{{this.duration}}</li>
    <li class="spellStatsLi"><span class="stat">concentration: </span>{{this.concentration}}</li>
    <li class="spellStatsLi"><span class="stat">Casting Time: </span>{{this.casting_time}}</li>
    <li class="spellStatsLi"><span class="stat">School: </span>{{this.school}}</li>
    <li class="spellStatsLi"><span class="stat">Class: </span>{{this.class}}</li>
</ul>

            
   