
<ul>
    <li>Level: {{level}}</li>
    <li>Range: {{spell.range}}</li>
    <li>Components: {{spell.components}}</li>
    <li>Material: {{spell.material}}</li>
    <li>Ritual: {{spell.ritual}}</li>
    <li>Duration: {{spell.duration}}</li>
    <li>concentration: {{spell.concentration}}</li>
    <li>Casting Time: {{spell.casting_time}}</li>
    <li>School{{spell.school}}</li>
    <li>Class: {{Spell.class}}</li>
    </ul>

<div class="spellPage2">
  <p id="spellDesc">{{{spell.desc}}}</p>
  <br>
  <p>{{spell.higher_level}}</p>
</div>

{{!--^ format fixes a syncronous issue --}}