
<ul>
    <li>Level: {{this.level}}</li>
    <li>Range: {{this.range}}</li>
    <li>Components: {{this.components}}</li>
    <li>Material: {{this.material}}</li>
    <li>Ritual: {{this.ritual}}</li>
    <li>Duration: {{this.duration}}</li>
    <li>concentration: {{this.concentration}}</li>
    <li>Casting Time: {{this.casting_time}}</li>
    <li>School{{this.school}}</li>
    <li>Class: {{this.class}}</li>
</ul>



{{!--^ format fixes a syncronous issue --}}